.background {
    background-color: cornsilk;
    height: calc(100vh);
}

.home {
    height: calc(100vh);
    background-color: #10aeb5;
    .header {
        h1 {
            text-align: center;
            color: #ffffff;
            font-size: 30px;
        }
        .nav {
            margin: 0 auto;
            border-bottom: 1px solid lightgray;
            line-height: 40px;
            background-color: #ffffff;
            width: 80%;
            border-radius: 10px 10px 0 0;
            label {
                width: 33%;
                display: inline-block;
                text-align: center;
            }
            .checked {
                color: lightseagreen;
                font-weight: bold;
            }
        }
        .wrap {
            width: 80%;
            margin: 0 auto;
            background-color: white;
            border-radius: 0 0 10px 10px;
            
            .nav-item {
                padding-bottom: 10px;
                color: #000000;
                font-size: 20px;
                text-align: center;
            }

            .form {
                margin: 0 auto;
                width: 80%;
                .item {
                    padding-top: 10px;
                }
            }
        }
    }
}
