.container {
    h1 {
        font-size: x-large;
        text-align: center;
        margin-top: 100px;
    }
    
    width: 400px;
    margin: 0 auto;
    text-align: center;
    button {
        width: 150px;
    }
}

.login {
    margin: 0px auto;
    width: 400px;
    h1 {
        text-align: center;
        font-size: x-large;
    }
    button {
        width: 100%;
    }
}

.background {
    background-color: cornsilk;
    height: calc(100vh);
}

.home {
    height: calc(100vh);
    background-color: #10aeb5;
    .header {
        h1 {
            text-align: center;
            color: #ffffff;
            font-size: 30px;
        }
        .nav {
            margin: 0 auto;
            border-bottom: 1px solid lightgray;
            line-height: 40px;
            background-color: #ffffff;
            width: 80%;
            label {
                width: 33%;
                display: inline-block;
                text-align: center;
            }
            .checked {
                color: lightseagreen;
                font-weight: bold;
            }
        }
        .wrap {
            width: 80%;
            margin: 0 auto;
            background-color: white;
            border-radius: 10px;
            
            .nav-item {
                margin-top: 30px;
                padding-bottom: 30px;
                color: #000000;
                font-size: 20px;
            }
        }
    }
}
